<!-- Button trigger modal -->
<button
  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
  class="btn btn-primary float-right m-2"
  (click)="addDepartmentClick()">
  Add department
</button>

<!-- Modal -->
<div style="pointer-events: none" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{modalTitle}}
        </h5>
        <button
          type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"
          (click)="closeModalClick()"></button>
      </div>
      <div class="modal-body">
        <app-add-edit-dep [dep]="dep" *ngIf="activateAddEditDepComponent">

        </app-add-edit-dep>
      </div>

    </div>
  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>DepartmentID</th>
      <th>DepartmentName</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let dataItem of departmentList">
      <td> {{dataItem.DepartmentID}} </td>
      <td> {{dataItem.DepartmentName}} </td>
      <td>
        <button
          type="button" class="btn btn-dark m-1"
          data-bs-toggle="modal" data-bs-target="#exampleModal"
          (click)="editDepartmentClick(dataItem)">
          Edit
        </button>
        <button
          type="button"
          class="btn btn-dark m-1">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
